openapi: 3.0.0
info:
  version: 1.75.3
  title: Snappt API
  description: Welcome to the Snappt API! API endpoints require a Snappt partner API key passed in the HTTP Authorization
    header.
security:
- {}
- bearerAuth: []
servers:
- url: https://enterprise-api.demo.snappt.com
components:
  schemas:
    ApiKeyResponse:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this API key
        description:
          type: string
          description: The description of this API key
        insertedAt:
          type: string
          description: The date this API key was created
        company:
          type: object
          nullable: true
          properties:
            id:
              type: string
              description: The unique identifier for the company associated with this API Key
            shortId:
              type: string
              description: The short identifier for the company associated with this API Key
          required:
          - id
          - shortId
      required:
      - id
      - description
      - insertedAt
      - company
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: number
        error:
          type: string
        failedChecks:
          type: array
          items:
            type: string
      required:
      - error
    SuccessResponse:
      type: object
      properties:
        statusCode:
          type: number
        message:
          type: string
    ApplicationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        identityId:
          type: string
          nullable: true
          format: uuid
        type:
          type: string
          enum:
          - leasing_team
          - unauthenticated_user
        unit:
          type: string
          nullable: true
        firstName:
          type: string
          nullable: true
        middleInitial:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        notificationEmail:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        hasPreviouslySubmitted:
          type: boolean
          nullable: true
        metadata:
          type: object
        applicantDetailId:
          type: string
          nullable: true
          format: uuid
        prefilledFields:
          type: array
          nullable: true
          items:
            type: string
        propertyShortId:
          type: string
          nullable: true
        companyShortId:
          type: string
          nullable: true
        hasRentalHistory:
          type: boolean
          nullable: true
        rentalHistories:
          type: array
          nullable: true
          items:
            type: object
            properties:
              streetAddress:
                type: string
              city:
                type: string
              state:
                type: string
              zip:
                type: string
              managementName:
                type: string
              managementPhone:
                type: string
              managementEmail:
                type: string
              monthlyAmount:
                type: string
              leaseStart:
                type: string
              leaseEnd:
                type: string
                nullable: true
              currentResidence:
                type: boolean
                nullable: true
            required:
            - streetAddress
            - city
            - state
            - zip
            - managementName
            - managementPhone
            - monthlyAmount
            - leaseStart
            - leaseEnd
            - currentResidence
        isTaxReturnConnected:
          type: boolean
          nullable: true
        taxReturnData:
          type: object
          nullable: true
          properties:
            id:
              type: string
            provider:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                url:
                  type: string
                icon:
                  type: string
                logo:
                  type: string
                category:
                  type: string
                display_name:
                  type: string
                record_types:
                  type: array
                  items:
                    type: string
                primary_color:
                  type: string
              required:
              - id
            name:
              type: string
            externalId:
              type: string
            taxYear:
              type: number
            status:
              type: string
            data:
              type: object
              properties:
                name:
                  type: string
                tax_year:
                  type: number
              additionalProperties:
                nullable: true
          required:
          - id
          - name
      required:
      - id
      - identityId
      - type
      - firstName
      - lastName
      - email
      - applicantDetailId
      - propertyShortId
      - companyShortId
      - rentalHistories
      - isTaxReturnConnected
      - taxReturnData
    ProofResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fileName:
          type: string
        unauthenticatedSessionId:
          type: string
          format: uuid
        insertedAt:
          type: string
          description: An ISO-formattted datetime
        type:
          type: string
          example: BANK_STATEMENT
          enum:
          - BANK_STATEMENT
          - PAYSTUB
          - OTHER
        processStatus:
          type: string
          enum:
          - IN_QUEUE
          - IN_PROCESS
          - PASSED
          - FAILED
          - SUCCESS
        result:
          type: string
          enum:
          - PENDING
          - CLEAN
          - EDITED
          - UNDETERMINED
      required:
      - id
      - unauthenticatedSessionId
      - insertedAt
      - type
      - processStatus
      - result
    PublicPostSessionBody:
      type: object
      properties:
        companyShortId:
          type: string
        propertyShortId:
          type: string
        firstName:
          type: string
          description: Optional, can be provided later via PUT /session/application.
          example: Bob
        lastName:
          type: string
          description: Optional, can be provided later via PUT /session/application.
          example: Smith
        email:
          type: string
          format: email
          description: Optional, can be provided later via PUT /session/application.
          example: bob@gmail.com
        applicantIdentifier:
          type: string
          format: uuid
          description: The applicant identifier that links this application to a previous application if it exists.
          example: 00000000-0000-0000-0000-000000000000
        identityId:
          type: string
          nullable: true
          format: uuid
          description: The id that relates to the universal user concept across all applications.
          example: 00000000-0000-0000-0000-000000000000
      required:
      - companyShortId
      - propertyShortId
      additionalProperties: false
    PublicPostSessionResponse:
      type: object
      properties:
        token:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        applicantDetailId:
          type: string
          format: uuid
        identityId:
          type: string
          nullable: true
          format: uuid
      required:
      - token
      - id
      - applicantDetailId
      - identityId
    SessionApplicantDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
        insertedAt:
          type: string
          description: An ISO-formattted datetime
        updatedAt:
          type: string
          description: An ISO-formattted datetime
      required:
      - id
      - insertedAt
      - updatedAt
  parameters: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    snapptSessionAuth:
      type: apiKey
      in: header
      name: x-unauthenticated-session-token
      description: Pass the session token obtained from POST /session
paths:
  /session/public:
    post:
      tags:
      - Applicant Sessions
      summary: Create an applicant session
      description: Make a request to this API to begin a new applicant session and obtain a session token you can use to update
        applicant info, upload documents, and submit the application for processing.
      parameters:
      - schema:
          type: string
          enum:
          - leasing_team
          - unauthenticated_user
          default: unauthenticated_user
        required: false
        name: applicationType
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicPostSessionBody'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPostSessionResponse'
        '400':
          description: The request payload or query string parameter you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /session/property:
    get:
      tags:
      - Applicant Sessions
      summary: Retrieve information about the property
      security:
      - snapptSessionAuth: []
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  shortId:
                    type: string
                  name:
                    type: string
                  entityName:
                    type: string
                    nullable: true
                  logo:
                    type: string
                    nullable: true
                  phone:
                    type: string
                    nullable: true
                  phoneIsRequired:
                    type: boolean
                    nullable: true
                  website:
                    type: string
                    nullable: true
                  unit:
                    type: string
                    nullable: true
                  unitIsRequired:
                    type: boolean
                    nullable: true
                  address:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                    nullable: true
                  zip:
                    type: string
                  status:
                    type: string
                    enum:
                    - ACTIVE
                    - ARCHIVED
                    - DISABLED
                  supportedDoctypes:
                    type: object
                    nullable: true
                    properties:
                      paystub:
                        type: number
                      bank_statement:
                        type: number
                      cash_app_statement:
                        type: number
                      credit_debit_card_statement:
                        type: number
                      department_of_veterans_affairs_benefit_letter:
                        type: number
                      investment_account:
                        type: number
                      social_security_benefits_letter:
                        type: number
                      social_security_statement:
                        type: number
                      tax_transcript:
                        type: number
                      utility_bill:
                        type: number
                      payroll_statement:
                        type: number
                      bank_linking_verification_of_income:
                        type: number
                      tax_return_linking_report:
                        type: number
                      w2:
                        type: number
                      child_support:
                        type: number
                      financial_aid:
                        type: number
                      offer_letter:
                        type: number
                      student_visa:
                        type: number
                  bankStatement:
                    type: number
                    nullable: true
                  paystub:
                    type: number
                    nullable: true
                  email:
                    type: string
                    nullable: true
                    format: email
                  companyId:
                    type: string
                    nullable: true
                    format: uuid
                  companyShortId:
                    type: string
                    nullable: true
                  pmcName:
                    type: string
                    nullable: true
                  applicantLink:
                    type: string
                  leasingTeamLink:
                    type: string
                  isLinkedToYardi:
                    type: boolean
                    nullable: true
                  identityVerificationEnabled:
                    type: boolean
                    nullable: true
                  incomeVerificationEnabled:
                    type: boolean
                    nullable: true
                  assetVerificationEnabled:
                    type: boolean
                    nullable: true
                  payrollLinkingEnabled:
                    type: boolean
                    nullable: true
                  bankLinkingEnabled:
                    type: boolean
                    nullable: true
                  insertedAt:
                    type: string
                    description: An ISO-formattted datetime
                  updatedAt:
                    type: string
                    description: An ISO-formattted datetime
                required:
                - id
                - shortId
                - name
                - entityName
                - logo
                - phone
                - phoneIsRequired
                - website
                - unit
                - unitIsRequired
                - address
                - city
                - state
                - zip
                - status
                - bankStatement
                - paystub
                - email
                - companyId
                - companyShortId
                - applicantLink
                - leasingTeamLink
                - isLinkedToYardi
                - identityVerificationEnabled
                - insertedAt
                - updatedAt
                additionalProperties: false
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /session/application:
    get:
      tags:
      - Applicant Sessions
      summary: Retrieve application data
      security:
      - snapptSessionAuth: []
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
    put:
      tags:
      - Applicant Sessions
      summary: Update application data
      security:
      - snapptSessionAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                identityId:
                  type: string
                  nullable: true
                  format: uuid
                type:
                  type: string
                  enum:
                  - leasing_team
                  - unauthenticated_user
                unit:
                  type: string
                  nullable: true
                firstName:
                  type: string
                  nullable: true
                middleInitial:
                  type: string
                  nullable: true
                lastName:
                  type: string
                  nullable: true
                email:
                  type: string
                  nullable: true
                notificationEmail:
                  type: string
                  nullable: true
                phone:
                  type: string
                  nullable: true
                hasPreviouslySubmitted:
                  type: boolean
                  nullable: true
                metadata:
                  type: object
                applicantDetailId:
                  type: string
                  nullable: true
                  format: uuid
                prefilledFields:
                  type: array
                  nullable: true
                  items:
                    type: string
                propertyShortId:
                  type: string
                  nullable: true
                companyShortId:
                  type: string
                  nullable: true
                hasRentalHistory:
                  type: boolean
                  nullable: true
                rentalHistories:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      streetAddress:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      zip:
                        type: string
                      managementName:
                        type: string
                      managementPhone:
                        type: string
                      managementEmail:
                        type: string
                      monthlyAmount:
                        type: string
                      leaseStart:
                        type: string
                      leaseEnd:
                        type: string
                        nullable: true
                      currentResidence:
                        type: boolean
                        nullable: true
                    required:
                    - streetAddress
                    - city
                    - state
                    - zip
                    - managementName
                    - managementPhone
                    - monthlyAmount
                    - leaseStart
                    - leaseEnd
                    - currentResidence
                isTaxReturnConnected:
                  type: boolean
                  nullable: true
                taxReturnData:
                  type: object
                  nullable: true
                  properties:
                    id:
                      type: string
                    provider:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        url:
                          type: string
                        icon:
                          type: string
                        logo:
                          type: string
                        category:
                          type: string
                        display_name:
                          type: string
                        record_types:
                          type: array
                          items:
                            type: string
                        primary_color:
                          type: string
                      required:
                      - id
                    name:
                      type: string
                    externalId:
                      type: string
                    taxYear:
                      type: number
                    status:
                      type: string
                    data:
                      type: object
                      properties:
                        name:
                          type: string
                        tax_year:
                          type: number
                      additionalProperties:
                        nullable: true
                  required:
                  - id
                  - name
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    identityId:
                      type: string
                      nullable: true
                      format: uuid
                    type:
                      type: string
                      enum:
                      - leasing_team
                      - unauthenticated_user
                    unit:
                      type: string
                      nullable: true
                    firstName:
                      type: string
                      nullable: true
                    middleInitial:
                      type: string
                      nullable: true
                    lastName:
                      type: string
                      nullable: true
                    email:
                      type: string
                      nullable: true
                    notificationEmail:
                      type: string
                      nullable: true
                    phone:
                      type: string
                      nullable: true
                    hasPreviouslySubmitted:
                      type: boolean
                      nullable: true
                    metadata:
                      type: object
                    applicantDetailId:
                      type: string
                      nullable: true
                      format: uuid
                    prefilledFields:
                      type: array
                      nullable: true
                      items:
                        type: string
                    propertyShortId:
                      type: string
                      nullable: true
                    companyShortId:
                      type: string
                      nullable: true
                    hasRentalHistory:
                      type: boolean
                      nullable: true
                    rentalHistories:
                      type: array
                      nullable: true
                      items:
                        type: object
                        properties:
                          streetAddress:
                            type: string
                          city:
                            type: string
                          state:
                            type: string
                          zip:
                            type: string
                          managementName:
                            type: string
                          managementPhone:
                            type: string
                          managementEmail:
                            type: string
                          monthlyAmount:
                            type: string
                          leaseStart:
                            type: string
                          leaseEnd:
                            type: string
                            nullable: true
                          currentResidence:
                            type: boolean
                            nullable: true
                        required:
                        - streetAddress
                        - city
                        - state
                        - zip
                        - managementName
                        - managementPhone
                        - monthlyAmount
                        - leaseStart
                        - leaseEnd
                        - currentResidence
                    isTaxReturnConnected:
                      type: boolean
                      nullable: true
                    taxReturnData:
                      type: object
                      nullable: true
                      properties:
                        id:
                          type: string
                        provider:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            url:
                              type: string
                            icon:
                              type: string
                            logo:
                              type: string
                            category:
                              type: string
                            display_name:
                              type: string
                            record_types:
                              type: array
                              items:
                                type: string
                            primary_color:
                              type: string
                          required:
                          - id
                        name:
                          type: string
                        externalId:
                          type: string
                        taxYear:
                          type: number
                        status:
                          type: string
                        data:
                          type: object
                          properties:
                            name:
                              type: string
                            tax_year:
                              type: number
                          additionalProperties:
                            nullable: true
                      required:
                      - id
                      - name
                  required:
                  - id
                  - identityId
                  - type
                  - firstName
                  - lastName
                  - email
                  - applicantDetailId
                  - propertyShortId
                  - companyShortId
                  - rentalHistories
                  - isTaxReturnConnected
                  - taxReturnData
                - type: object
                  properties:
                    error:
                      type: string
                  required:
                  - error
        '400':
          description: The request payload or query string parameter you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /session/documents:
    get:
      tags:
      - Applicant Sessions
      summary: List application documents
      security:
      - snapptSessionAuth: []
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProofResponse'
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
    post:
      tags:
      - Applicant Sessions
      summary: Upload an application document
      description: This API expects multipart/form-data. You should provide a single file as `upload` and specify the document
        type. Uploaded documents must be PDFs
      security:
      - snapptSessionAuth: []
      parameters:
      - schema:
          type: boolean
          description: Hold the POST request open while preliminary checks are performed on the document. This is a feature
            preview and will soon become the default. If you pass checks=true, you do not need to wait to call the /submit
            endpoint after a successful upload.
          example: true
        required: false
        name: checks
        in: query
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                type:
                  type: string
                  example: BANK_STATEMENT
                  enum:
                  - BANK_STATEMENT
                  - PAYSTUB
                  - OTHER
                fileName:
                  type: string
                upload:
                  type: string
                  description: The file being uploaded
                  format: binary
                  example: <<PDF document data>>
              required:
              - type
              additionalProperties: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    fileName:
                      type: string
                    unauthenticatedSessionId:
                      type: string
                      format: uuid
                    insertedAt:
                      type: string
                      description: An ISO-formattted datetime
                    type:
                      type: string
                      example: BANK_STATEMENT
                      enum:
                      - BANK_STATEMENT
                      - PAYSTUB
                      - OTHER
                    processStatus:
                      type: string
                      enum:
                      - IN_QUEUE
                      - IN_PROCESS
                      - PASSED
                      - FAILED
                      - SUCCESS
                    result:
                      type: string
                      enum:
                      - PENDING
                      - CLEAN
                      - EDITED
                      - UNDETERMINED
                  required:
                  - id
                  - unauthenticatedSessionId
                  - insertedAt
                  - type
                  - processStatus
                  - result
                - type: object
                  properties:
                    statusCode:
                      type: number
                    error:
                      type: string
                    failedChecks:
                      type: array
                      items:
                        type: string
                        enum:
                        - PDFParseError
                        - PrintToPDFError
                        - PdfContainsTextError
                        - PageLimitError
                        - PDFTooLargeError
                        - UnsupportedFileNameError
                        - UnsupportedFileTypeError
                        - EncryptedPdfError
                        - GenericError
                        - DuplicateDocumentError
                  required:
                  - error
                  - failedChecks
        '400':
          description: The request payload or query string parameter you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /session/documents/{id}:
    put:
      tags:
      - Applicant Sessions
      summary: Update an application document type
      parameters:
      - schema:
          type: string
          format: uuid
        required: true
        name: id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  example: BANK_STATEMENT
                  enum:
                  - BANK_STATEMENT
                  - PAYSTUB
                  - OTHER
              required:
              - type
              additionalProperties: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    fileName:
                      type: string
                    unauthenticatedSessionId:
                      type: string
                      format: uuid
                    insertedAt:
                      type: string
                      description: An ISO-formattted datetime
                    type:
                      type: string
                      example: BANK_STATEMENT
                      enum:
                      - BANK_STATEMENT
                      - PAYSTUB
                      - OTHER
                    processStatus:
                      type: string
                      enum:
                      - IN_QUEUE
                      - IN_PROCESS
                      - PASSED
                      - FAILED
                      - SUCCESS
                    result:
                      type: string
                      enum:
                      - PENDING
                      - CLEAN
                      - EDITED
                      - UNDETERMINED
                  required:
                  - id
                  - unauthenticatedSessionId
                  - insertedAt
                  - type
                  - processStatus
                  - result
                - type: object
                  properties:
                    error:
                      type: string
                  required:
                  - error
        '400':
          description: The request payload or query string parameter you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: The item you requested could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
    get:
      tags:
      - Applicant Sessions
      summary: Retrieve an application document
      description: This API returns the application document that matches the provided id.
      security:
      - snapptSessionAuth: []
      parameters:
      - schema:
          type: string
          format: uuid
        required: true
        name: id
        in: path
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProofResponse'
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: The item you requested could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
    delete:
      tags:
      - Applicant Sessions
      summary: Remove an application document
      security:
      - snapptSessionAuth: []
      parameters:
      - schema:
          type: string
          format: uuid
        required: true
        name: id
        in: path
      responses:
        '204':
          description: No content - successful operation
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: The item you requested could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /session/documents/{id}/thumbnail:
    get:
      tags:
      - Applicant Sessions
      summary: Retrieve a thumbnail for a specific document
      security:
      - snapptSessionAuth: []
      parameters:
      - schema:
          type: string
          format: uuid
        required: true
        name: id
        in: path
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                required:
                - url
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: The item you requested could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /session/submit:
    post:
      tags:
      - Applicant Sessions
      summary: Submit application
      description: After uploading one or more documents and editing the applicant information, use this API to submit the
        application for processing. After a successful submission, the session token is no longer valid. Use the returned
        applicant ID to poll for results, or create a webhook to be notified when results are ready.
      security:
      - snapptSessionAuth: []
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  applicantId:
                    type: string
                required:
                - applicantId
                additionalProperties: false
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /id-verification/public/{propertyShortId}:
    post:
      tags:
      - ID Verification
      summary: ID verification request that redirects route
      description: Make a request to this API to redirect to idv provider.
      parameters:
      - schema:
          type: string
        required: true
        name: propertyShortId
        in: path
      - schema:
          type: string
          description: The type of ID verification flow to use, defaults to full if omitted
          title: ID Verification Flow Type
        required: false
        name: flowType
        in: query
      - schema:
          type: string
        required: false
        name: id
        in: query
      - schema:
          anyOf:
          - type: boolean
          - type: string
        required: false
        name: overrideToIncode
        in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: string
                  enum:
                  - clear
                  - incode
      responses:
        '204':
          description: No content - successful operation
        '400':
          description: The request payload or query string parameter you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: The item you requested could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
    get:
      tags:
      - ID Verification
      summary: Static identity verification link for a single property
      description: Make a request to this API to begin a new ID verification session.
      parameters:
      - schema:
          type: string
        required: true
        name: propertyShortId
        in: path
      - schema:
          type: string
          description: The type of ID verification flow to use, defaults to full if omitted
          title: ID Verification Flow Type
        required: false
        name: flowType
        in: query
      - schema:
          type: string
        required: false
        name: id
        in: query
      responses:
        '204':
          description: No content - successful operation
        '400':
          description: The request payload or query string parameter you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: The item you requested could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /identity/applicants/clear-images/{clearId}/{imageType}:
    get:
      tags:
      - Internal IDV
      summary: Pass through endpoint for images from clear identity verifications
      parameters:
      - schema:
          type: string
        required: true
        name: clearId
        in: path
      - schema:
          type: string
          enum:
          - selfie
          - document
        required: true
        name: imageType
        in: path
      - schema:
          type: number
          nullable: true
        required: false
        name: expires
        in: query
      - schema:
          type: string
        required: true
        name: signature
        in: query
      responses:
        '204':
          description: No content - successful operation
        '400':
          description: The request payload or query string parameter you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: The item you requested could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /account:
    get:
      tags:
      - Account
      summary: Get Account Info
      description: Returns information about the account associated with the provided API key.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /webhooks:
    post:
      tags:
      - Webhooks
      summary: Create a webhook
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  example: https://client.url/webhook
                events:
                  type: array
                  description: Must be an array of either "REPORT_READY", "IDV_REPORT_READY" or "APPLICATION_SUBMITTED"
                method:
                  type: string
                  description: Must be either "POST" or "GET"
                headers:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                        pattern: ^[!#$%&'*+\-.^_`|~a-zA-Z\d]+$
                      value:
                        type: string
                    required:
                    - name
                    - value
                  default: []
                isActive:
                  type: boolean
                  default: true
              required:
              - url
              - events
              additionalProperties: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  method:
                    type: string
                    enum:
                    - POST
                    - GET
                  url:
                    type: string
                    nullable: true
                    format: uri
                  headers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        value:
                          type: string
                      required:
                      - name
                      - value
                  events:
                    type: array
                    items:
                      type: string
                      enum:
                      - REPORT_READY
                      - APPLICATION_SUBMITTED
                      - IDV_REPORT_READY
                      - IDV_PRE_TOUR
                  isActive:
                    type: boolean
                    nullable: true
                  apiKeyId:
                    type: string
                    format: uuid
                  insertedAt:
                    type: string
                  updatedAt:
                    type: string
                  signingSecret:
                    type: string
                required:
                - id
                - method
                - url
                - headers
                - events
                - isActive
                - apiKeyId
                - insertedAt
                - updatedAt
                - signingSecret
        '400':
          description: The request payload or query string parameter you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
    get:
      tags:
      - Webhooks
      summary: List webhooks
      parameters:
      - schema:
          type: string
        required: false
        name: limit
        in: query
      - schema:
          type: string
        required: false
        name: offset
        in: query
      - schema:
          type: string
        required: false
        name: sort
        in: query
      - schema:
          type: string
        required: false
        name: filter
        in: query
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    method:
                      type: string
                      enum:
                      - POST
                      - GET
                    url:
                      type: string
                      nullable: true
                      format: uri
                    headers:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          value:
                            type: string
                        required:
                        - name
                        - value
                    events:
                      type: array
                      items:
                        type: string
                        enum:
                        - REPORT_READY
                        - APPLICATION_SUBMITTED
                        - IDV_REPORT_READY
                        - IDV_PRE_TOUR
                    isActive:
                      type: boolean
                      nullable: true
                    apiKeyId:
                      type: string
                      format: uuid
                    insertedAt:
                      type: string
                    updatedAt:
                      type: string
                  required:
                  - id
                  - method
                  - url
                  - headers
                  - events
                  - isActive
                  - apiKeyId
                  - insertedAt
                  - updatedAt
        '400':
          description: The request payload or query string parameter you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /webhooks/{id}:
    get:
      tags:
      - Webhooks
      summary: Retrieve a webhook
      parameters:
      - schema:
          type: string
          format: uuid
        required: true
        name: id
        in: path
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  method:
                    type: string
                    enum:
                    - POST
                    - GET
                  url:
                    type: string
                    nullable: true
                    format: uri
                  headers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        value:
                          type: string
                      required:
                      - name
                      - value
                  events:
                    type: array
                    items:
                      type: string
                      enum:
                      - REPORT_READY
                      - APPLICATION_SUBMITTED
                      - IDV_REPORT_READY
                      - IDV_PRE_TOUR
                  isActive:
                    type: boolean
                    nullable: true
                  apiKeyId:
                    type: string
                    format: uuid
                  insertedAt:
                    type: string
                  updatedAt:
                    type: string
                required:
                - id
                - method
                - url
                - headers
                - events
                - isActive
                - apiKeyId
                - insertedAt
                - updatedAt
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: The item you requested could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
    put:
      tags:
      - Webhooks
      summary: Update a webhook
      parameters:
      - schema:
          type: string
          format: uuid
        required: true
        name: id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  example: https://client.url/webhook
                events:
                  type: array
                  description: Must be an array of either "REPORT_READY", "IDV_REPORT_READY" or "APPLICATION_SUBMITTED"
                method:
                  type: string
                  description: Must be either "POST" or "GET"
                headers:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                        pattern: ^[!#$%&'*+\-.^_`|~a-zA-Z\d]+$
                      value:
                        type: string
                    required:
                    - name
                    - value
                  default: []
                isActive:
                  type: boolean
                  default: true
              additionalProperties: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  method:
                    type: string
                    enum:
                    - POST
                    - GET
                  url:
                    type: string
                    nullable: true
                    format: uri
                  headers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        value:
                          type: string
                      required:
                      - name
                      - value
                  events:
                    type: array
                    items:
                      type: string
                      enum:
                      - REPORT_READY
                      - APPLICATION_SUBMITTED
                      - IDV_REPORT_READY
                      - IDV_PRE_TOUR
                  isActive:
                    type: boolean
                    nullable: true
                  apiKeyId:
                    type: string
                    format: uuid
                  insertedAt:
                    type: string
                  updatedAt:
                    type: string
                required:
                - id
                - method
                - url
                - headers
                - events
                - isActive
                - apiKeyId
                - insertedAt
                - updatedAt
        '400':
          description: The request payload or query string parameter you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: The item you requested could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
    delete:
      tags:
      - Webhooks
      summary: Delete a webhook
      parameters:
      - schema:
          type: string
          format: uuid
        required: true
        name: id
        in: path
      responses:
        '204':
          description: No content - successful operation
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: The item you requested could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /webhooks/{id}/signing-secret:
    get:
      tags:
      - Webhooks
      summary: Retrieve webhook signing secret
      parameters:
      - schema:
          type: string
          format: uuid
        required: true
        name: id
        in: path
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  signingSecret:
                    type: string
                required:
                - signingSecret
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: The item you requested could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /properties:
    get:
      tags:
      - Properties
      summary: List properties
      parameters:
      - schema:
          type: number
          description: The total number of rows to respond with. Defaults to 5000.
        required: false
        name: rowsPerPage
        in: query
      - schema:
          type: number
          description: The current page. Defaults to 0.
        required: false
        name: page
        in: query
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    shortId:
                      type: string
                    name:
                      type: string
                    entityName:
                      type: string
                      nullable: true
                    logo:
                      type: string
                      nullable: true
                    phone:
                      type: string
                      nullable: true
                    phoneIsRequired:
                      type: boolean
                      nullable: true
                    website:
                      type: string
                      nullable: true
                    unit:
                      type: string
                      nullable: true
                    unitIsRequired:
                      type: boolean
                      nullable: true
                    address:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                      nullable: true
                    zip:
                      type: string
                    status:
                      type: string
                      enum:
                      - ACTIVE
                      - ARCHIVED
                      - DISABLED
                    supportedDoctypes:
                      type: object
                      nullable: true
                      properties:
                        paystub:
                          type: number
                        bank_statement:
                          type: number
                        cash_app_statement:
                          type: number
                        credit_debit_card_statement:
                          type: number
                        department_of_veterans_affairs_benefit_letter:
                          type: number
                        investment_account:
                          type: number
                        social_security_benefits_letter:
                          type: number
                        social_security_statement:
                          type: number
                        tax_transcript:
                          type: number
                        utility_bill:
                          type: number
                        payroll_statement:
                          type: number
                        bank_linking_verification_of_income:
                          type: number
                        tax_return_linking_report:
                          type: number
                        w2:
                          type: number
                        child_support:
                          type: number
                        financial_aid:
                          type: number
                        offer_letter:
                          type: number
                        student_visa:
                          type: number
                    bankStatement:
                      type: number
                      nullable: true
                    paystub:
                      type: number
                      nullable: true
                    email:
                      type: string
                      nullable: true
                      format: email
                    companyId:
                      type: string
                      nullable: true
                      format: uuid
                    companyShortId:
                      type: string
                      nullable: true
                    pmcName:
                      type: string
                      nullable: true
                    applicantLink:
                      type: string
                    leasingTeamLink:
                      type: string
                    identityVerificationEnabled:
                      type: boolean
                      nullable: true
                    incomeVerificationEnabled:
                      type: boolean
                      nullable: true
                    assetVerificationEnabled:
                      type: boolean
                      nullable: true
                    payrollLinkingEnabled:
                      type: boolean
                      nullable: true
                    bankLinkingEnabled:
                      type: boolean
                      nullable: true
                    insertedAt:
                      type: string
                      description: An ISO-formattted datetime
                    updatedAt:
                      type: string
                      description: An ISO-formattted datetime
                    propertyFeature:
                      type: object
                      nullable: true
                      properties:
                        featureCode:
                          type: string
                          enum:
                          - payroll_linking
                          - bank_linking
                          - rental_history
                          - income_verification
                          - asset_verification
                          - identity_verification
                          - reference_completed_notification
                        state:
                          type: string
                          enum:
                          - enabled
                          - disabled
                      required:
                      - featureCode
                      - state
                  required:
                  - id
                  - shortId
                  - name
                  - entityName
                  - logo
                  - phone
                  - phoneIsRequired
                  - website
                  - unit
                  - unitIsRequired
                  - address
                  - city
                  - state
                  - zip
                  - status
                  - bankStatement
                  - paystub
                  - email
                  - companyId
                  - companyShortId
                  - applicantLink
                  - leasingTeamLink
                  - identityVerificationEnabled
                  - insertedAt
                  - updatedAt
        '400':
          description: The request payload or query string parameter you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
    post:
      tags:
      - Properties
      summary: Create a new property
      description: To set up your account, add one or more properties. All applicant sessions are associated with a company
        and property ID. Note that you cannot delete properties through the Snappt Enterprise API. If you no longer need a
        property, use the PUT /properties/:id API to set it's status to DISABLED.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                address:
                  type: string
                city:
                  type: string
                zip:
                  type: string
                state:
                  type: string
                  nullable: true
                entityName:
                  type: string
                  nullable: true
                logo:
                  type: string
                  nullable: true
                phone:
                  type: string
                phoneIsRequired:
                  type: boolean
                  nullable: true
                website:
                  type: string
                  nullable: true
                unit:
                  type: number
                  minimum: 1
                  exclusiveMinimum: true
                pmcName:
                  type: string
                  nullable: true
                unitIsRequired:
                  type: boolean
                  nullable: true
                status:
                  type: string
                  enum:
                  - ACTIVE
                  - ARCHIVED
                  - DISABLED
                bankStatement:
                  type: number
                  nullable: true
                paystub:
                  type: number
                  nullable: true
                supportedDoctypes:
                  type: object
                  nullable: true
                  properties:
                    paystub:
                      type: number
                    bank_statement:
                      type: number
                    cash_app_statement:
                      type: number
                    credit_debit_card_statement:
                      type: number
                    department_of_veterans_affairs_benefit_letter:
                      type: number
                    investment_account:
                      type: number
                    social_security_benefits_letter:
                      type: number
                    social_security_statement:
                      type: number
                    tax_transcript:
                      type: number
                    utility_bill:
                      type: number
                    payroll_statement:
                      type: number
                    bank_linking_verification_of_income:
                      type: number
                    tax_return_linking_report:
                      type: number
                    w2:
                      type: number
                    child_support:
                      type: number
                    financial_aid:
                      type: number
                    offer_letter:
                      type: number
                    student_visa:
                      type: number
                identityVerificationReportImageTypes:
                  type: array
                  items:
                    type: string
                    enum:
                    - selfie
                    - document
                    - none
                incomeVerificationEnabled:
                  type: boolean
                  description: Pass true to enable Income Verification. If omitted, the current value is unchanged.
                assetVerificationEnabled:
                  type: boolean
                  description: Pass true to enable Asset Verification. If omitted, the current value is unchanged.
                identityVerificationEnabled:
                  type: boolean
                  description: Pass true to enable Identity Verification. If omitted, the current value is unchanged.
                payrollLinkingEnabled:
                  type: boolean
                  description: Pass true to enable Payroll Linking. If omitted, the current value is unchanged.
                bankLinkingEnabled:
                  type: boolean
                  description: Pass true to enable Bank Linking. If omitted, the current value is unchanged.
                referenceCompletedNotificationEnabled:
                  type: boolean
                  description: Pass true to enable Reference Completed Notification. If omitted, the current value is unchanged.
              required:
              - name
              - email
              - address
              - city
              - zip
              - unit
              - status
              additionalProperties: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    shortId:
                      type: string
                    name:
                      type: string
                    entityName:
                      type: string
                      nullable: true
                    logo:
                      type: string
                      nullable: true
                    phone:
                      type: string
                      nullable: true
                    phoneIsRequired:
                      type: boolean
                      nullable: true
                    website:
                      type: string
                      nullable: true
                    unit:
                      type: string
                      nullable: true
                    unitIsRequired:
                      type: boolean
                      nullable: true
                    address:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                      nullable: true
                    zip:
                      type: string
                    status:
                      type: string
                      enum:
                      - ACTIVE
                      - ARCHIVED
                      - DISABLED
                    supportedDoctypes:
                      type: object
                      nullable: true
                      properties:
                        paystub:
                          type: number
                        bank_statement:
                          type: number
                        cash_app_statement:
                          type: number
                        credit_debit_card_statement:
                          type: number
                        department_of_veterans_affairs_benefit_letter:
                          type: number
                        investment_account:
                          type: number
                        social_security_benefits_letter:
                          type: number
                        social_security_statement:
                          type: number
                        tax_transcript:
                          type: number
                        utility_bill:
                          type: number
                        payroll_statement:
                          type: number
                        bank_linking_verification_of_income:
                          type: number
                        tax_return_linking_report:
                          type: number
                        w2:
                          type: number
                        child_support:
                          type: number
                        financial_aid:
                          type: number
                        offer_letter:
                          type: number
                        student_visa:
                          type: number
                    bankStatement:
                      type: number
                      nullable: true
                    paystub:
                      type: number
                      nullable: true
                    email:
                      type: string
                      nullable: true
                      format: email
                    companyId:
                      type: string
                      nullable: true
                      format: uuid
                    companyShortId:
                      type: string
                      nullable: true
                    pmcName:
                      type: string
                      nullable: true
                    applicantLink:
                      type: string
                    leasingTeamLink:
                      type: string
                    identityVerificationEnabled:
                      type: boolean
                      nullable: true
                    incomeVerificationEnabled:
                      type: boolean
                      nullable: true
                    assetVerificationEnabled:
                      type: boolean
                      nullable: true
                    payrollLinkingEnabled:
                      type: boolean
                      nullable: true
                    bankLinkingEnabled:
                      type: boolean
                      nullable: true
                    insertedAt:
                      type: string
                      description: An ISO-formattted datetime
                    updatedAt:
                      type: string
                      description: An ISO-formattted datetime
                    propertyFeature:
                      type: object
                      nullable: true
                      properties:
                        featureCode:
                          type: string
                          enum:
                          - payroll_linking
                          - bank_linking
                          - rental_history
                          - income_verification
                          - asset_verification
                          - identity_verification
                          - reference_completed_notification
                        state:
                          type: string
                          enum:
                          - enabled
                          - disabled
                      required:
                      - featureCode
                      - state
                  required:
                  - id
                  - shortId
                  - name
                  - entityName
                  - logo
                  - phone
                  - phoneIsRequired
                  - website
                  - unit
                  - unitIsRequired
                  - address
                  - city
                  - state
                  - zip
                  - status
                  - bankStatement
                  - paystub
                  - email
                  - companyId
                  - companyShortId
                  - applicantLink
                  - leasingTeamLink
                  - identityVerificationEnabled
                  - insertedAt
                  - updatedAt
                - type: object
                  properties:
                    error:
                      type: string
                    propertyId:
                      type: string
                      format: uuid
                  required:
                  - error
                  additionalProperties: false
        '400':
          description: The request payload or query string parameter you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
  /properties/{propertyId}:
    get:
      tags:
      - Properties
      summary: Retrieve a property
      parameters:
      - schema:
          type: string
        required: true
        name: propertyId
        in: path
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    shortId:
                      type: string
                    name:
                      type: string
                    entityName:
                      type: string
                      nullable: true
                    logo:
                      type: string
                      nullable: true
                    phone:
                      type: string
                      nullable: true
                    phoneIsRequired:
                      type: boolean
                      nullable: true
                    website:
                      type: string
                      nullable: true
                    unit:
                      type: string
                      nullable: true
                    unitIsRequired:
                      type: boolean
                      nullable: true
                    address:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                      nullable: true
                    zip:
                      type: string
                    status:
                      type: string
                      enum:
                      - ACTIVE
                      - ARCHIVED
                      - DISABLED
                    supportedDoctypes:
                      type: object
                      nullable: true
                      properties:
                        paystub:
                          type: number
                        bank_statement:
                          type: number
                        cash_app_statement:
                          type: number
                        credit_debit_card_statement:
                          type: number
                        department_of_veterans_affairs_benefit_letter:
                          type: number
                        investment_account:
                          type: number
                        social_security_benefits_letter:
                          type: number
                        social_security_statement:
                          type: number
                        tax_transcript:
                          type: number
                        utility_bill:
                          type: number
                        payroll_statement:
                          type: number
                        bank_linking_verification_of_income:
                          type: number
                        tax_return_linking_report:
                          type: number
                        w2:
                          type: number
                        child_support:
                          type: number
                        financial_aid:
                          type: number
                        offer_letter:
                          type: number
                        student_visa:
                          type: number
                    bankStatement:
                      type: number
                      nullable: true
                    paystub:
                      type: number
                      nullable: true
                    email:
                      type: string
                      nullable: true
                      format: email
                    companyId:
                      type: string
                      nullable: true
                      format: uuid
                    companyShortId:
                      type: string
                      nullable: true
                    pmcName:
                      type: string
                      nullable: true
                    applicantLink:
                      type: string
                    leasingTeamLink:
                      type: string
                    identityVerificationEnabled:
                      type: boolean
                      nullable: true
                    incomeVerificationEnabled:
                      type: boolean
                      nullable: true
                    assetVerificationEnabled:
                      type: boolean
                      nullable: true
                    payrollLinkingEnabled:
                      type: boolean
                      nullable: true
                    bankLinkingEnabled:
                      type: boolean
                      nullable: true
                    insertedAt:
                      type: string
                      description: An ISO-formattted datetime
                    updatedAt:
                      type: string
                      description: An ISO-formattted datetime
                    propertyFeature:
                      type: object
                      nullable: true
                      properties:
                        featureCode:
                          type: string
                          enum:
                          - payroll_linking
                          - bank_linking
                          - rental_history
                          - income_verification
                          - asset_verification
                          - identity_verification
                          - reference_completed_notification
                        state:
                          type: string
                          enum:
                          - enabled
                          - disabled
                      required:
                      - featureCode
                      - state
                  required:
                  - id
                  - shortId
                  - name
                  - entityName
                  - logo
                  - phone
                  - phoneIsRequired
                  - website
                  - unit
                  - unitIsRequired
                  - address
                  - city
                  - state
                  - zip
                  - status
                  - bankStatement
                  - paystub
                  - email
                  - companyId
                  - companyShortId
                  - applicantLink
                  - leasingTeamLink
                  - identityVerificationEnabled
                  - insertedAt
                  - updatedAt
                - type: object
                  properties:
                    error:
                      type: string
                  required:
                  - error
        '401':
          description: The Authorization header or Snappt applicant session token you passed was not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
        '404':
          description: The item you requested could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
    put:
      tags:
      - Properties
      summary: Update a property
      parameters:
      - schema:
          type: string
        required: true
        name: propertyId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                address:
                  type: string
                city:
                  type: string
                zip:
                  type: string
                state:
                  type: string
                  nullable: true
                entityName:
                  type: string
                  nullable: true
                logo:
                  type: string
                  nullable: true
                phone:
                  type: string
                phoneIsRequired:
                  type: boolean
                  nullable: true
                website:
                  type: string
                  nullable: true
                unit:
                  type: number
                  minimum: 1
                  exclusiveMinimum: true
                pmcName:
                  type: string
                  nullable: true
                unitIsRequired:
                  type: boolean
                  nullable: true
                status:
                  type: string
                  enum:
                  - ACTIVE
                  - ARCHIVED
                  - DISABLED
                bankStatement:
                  type: number
                  nullable: true
                paystub:
                  type: number
                  nullable: true
                supportedDoctypes:
                  type: object
                  nullable: true
                  properties:
                    paystub:
                      type: number
                    bank_statement:
                      type: number
                    cash_app_statement:
                      type: number
                    credit_debit_card_statement:
                      type: number
                    department_of_veterans_affairs_benefit_letter:
                      type: number
                    investment_account:
                      type: number
                    social_security_benefits_letter:
                      type: number
                    social_security_statement:
                      type: number
                    tax_transcript:
                      type: number
                    utility_bill:
                      type: number
                    payroll_statement:
                      type: number
                    bank_linking_verification_of_income:
                      type: number
                    tax_return_linking_report:
                      type: number
                    w2:
                      type: number
                    child_support:
                      type: number
                    financial_aid:
                      type: number
                    offer_letter:
                      type: number
                    student_visa:
                      type: number
                identityVerificationReportImageTypes:
                  type: array
                  items:
                    type: string
                    enum:
                    - selfie
                    - document
                    - none
              additionalProperties: false
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    shortId:
                      type: string
                    name:
                      type: string
                    entityName:
                      type: string
                      nullable: true
                    logo:
                      type: string
                      nullable: true
                    phone:
                      type: string
                      nullable: true
                    phoneIsRequired:
                      type: boolean
                      nullable: true
                    website:
                      type: string
                      nullable: true
                    unit:
                      type: string
                      nullable: true
                    unitIsRequired:
                      type: boolean
                      nullable: true
                    address:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                      nullable: true
                    zip:
                      type: string
                    status:
                      type: string
                      enum:
                      - ACTIVE
                      - ARCHIVED
                      - DISABLED
                    supportedDoctypes:
                      type: object
                      nullable: true
                      properties:
                        paystub:
                          type: number
                        bank_statement:
                          type: number
[...]
